.container-cards {
    margin-top: 141px;
}

.cards-row {
    padding: 0 10%;
}

.img-fish {
    width: 120px;
    height: 120px;

    left: 30%;
    top: 80%;
}

.img-mashroom {
    right: 13%;

    height: 50px;
    width: 70px;
}

.img-leaf {
    width: 85px;
    height: 100px;

    right: 10%;
}

.img-chili {
    width: 145px;
    height: 100px;
    
    bottom: -60%;
}