.card {
    width: 256px;
    height: auto;

    z-index: 999;
}

.img-pizza {
    width: 120px;

    margin-left: 45%;
}

.container-icon {
    width: 35px;
    height: 35px;

    border-radius: 14px;
    border-width: 3px !important;
}

.icon-heart {
    width: 13px;
    height: 12px;
}
