.restaurant-container {
    margin-top: 190px;

    padding: 50px 10%;
}

.about-container {
    padding-top: 96px;
}

.read-more-button {
    width: 148px;

    border-radius: 25px;
}

.card-pizza {
    height: 141.5px;
    width: 141.5px;
}